h1 {
    font-size: 4vw;
    background-image: url("../imagenes/fondo.jpg");
    text-align: center;
    color: aliceblue;
    padding: 10px;
    margin: 5vw 10vw
}

p {
    color: aliceblue;
    border-color: blueviolet;
    background-color: #00a2ff;
    border: solid 5px;
    padding: 20px;
    border-radius: 10px;
    margin: 5vw 10vw
}

.Lucida {
    font-family: "Lucida Console, Courier New, monospace";
}

.Josefin {
    font-family: 'Josefin Sans', sans-serif;
}


body {
    font-family: verdana;
    background-image: url("../imagenes/fondo_4.jpg");
}

div {
    text-align: center;
    color: aliceblue;
    background-color: blueviolet;
    border-color: blueviolet;
    border: solid 5px;
    padding: 20px;
    border-radius: 10px;
    margin: 5vw 10vw
}

@font-face {
    font-family: Kiddos;
    src: url('../La_fuente/Kiddos-Demo.ttf') format('truetype')
}

.Kiddos {
    font-family: "Kiddos";
    font-size: larger;
}
